<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="description" content="Kid Book">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Kid Book</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">
<!-- Css Styles -->
<link rel="stylesheet" href="HomePage/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="HomePage/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="HomePage/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="HomePage/css/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="HomePage/css/jquery-ui.min.css"
	type="text/css">
<link rel="stylesheet" href="HomePage/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="HomePage/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="HomePage/css/style.css" type="text/css">
<link rel="stylesheet" href="HomePage/css/modal-account.css"
	type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	<!-- Phần Header -->
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<th:block sec:authorize="isAuthenticated()">
									<li><i class="fa fa-envelope"></i>Hello <a
										th:href="@{/admin/accountInfo}"
										th:utext="${#request.userPrincipal.name}">..</a></li>
								</th:block>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="header__top__right">
							<div class="header__top__right__auth">
								<th:block sec:authorize="!isAuthenticated()">
									<a th:href="@{/admin/login}"><i class="fa fa-user"></i>Account</a>
								</th:block>
								<th:block sec:authorize="isAuthenticated()">
									<a th:href="@{/admin/logout}">Logout</a>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a th:href="@{/}"><img src="HomePage/img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-9">
					<nav class="header__menu">
						<ul>
							<li><a  th:href="@{/}">Home</a></li>
							<li class="active"><a th:href="@{/productList}">Shop Book</a></li>
							<li><a th:href="@{/shoppingCart}"> My Cart </a></li>
							<li><a th:href="@{/shoppingCartCustomer}">Check Out</a></li>
							<th:block
								sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
								<li><a th:href="@{/admin/orderList}"> Order List </a></li>
							</th:block>
							<th:block sec:authorize="hasRole('ROLE_MANAGER')">
								<li><a th:href="@{/admin/product}"> Create Product </a>
							</th:block>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Phần Header Section End -->
	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		data-setbg="HomePage/img/book.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>KiD Book</h2>
						<div class="breadcrumb__option">
							<a th:href="@{/}">Home</a> <span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-5">
					<div class="sidebar">
						<div class="sidebar__item">
							<h4>Department</h4>
							<ul>
								<li><a href="#">Crime and Mystery</a></li>
								<li><a href="#">Fantasty</a></li>
								<li><a href="#">Mordern Fiction</a></li>
								<li><a href="#">Romance</a></li>
								<li><a href="#">Adventure</a></li>
								<li><a href="#">Arts Book</a></li>
								<li><a href="#">Medicine Book</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-7">
					<div class="product__discount">
						<div class="section-title product__discount__title">
							<h2>Sale Off</h2>
						</div>
						<div class="row">
							<div class="product__discount__slider owl-carousel">
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											data-setbg="HomePage/img/product/discount/Book_29_10_1.webp">
											<div class="product__discount__percent">-20%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<h5>
												<a href="#">Đọc Sách Hiệu QUả</a>
											</h5>
											<div class="product__item__price">
												120.000 <span>140.000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											data-setbg="HomePage/img/product/discount/Book_29_10_2.webp">
											<div class="product__discount__percent">-20%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<h5>
												<a href="#">Làm Điều Quan Trọng</a>
											</h5>
											<div class="product__item__price">
												120.000 <span>150.000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											data-setbg="HomePage/img/product/discount/Book_29_10_3.webp">
											<div class="product__discount__percent">-30%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<h5>
												<a href="#">Đạo Đức Kinh</a>
											</h5>
											<div class="product__item__price">
												140.000 <span>200.000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											data-setbg="HomePage/img/product/discount/Book_29_10_4.webp">
											<div class="product__discount__percent">-20%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<h5>
												<a href="#">Một Đời Tốt Đẹp</a>
											</h5>
											<div class="product__item__price">
												128.000 <span>160.000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											data-setbg="HomePage/img/product/discount/Book_29_10_5.webp">
											<div class="product__discount__percent">-20%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<h5>
												<a href="#">Chiến Lược Thịnh Vượng</a>
											</h5>
											<div class="product__item__price">
												164.000 <span>180.000</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product__discount__item">
										<div class="product__discount__item__pic set-bg"
											data-setbg="HomePage/img/product/discount/Book_29_10_6.webp">
											<div class="product__discount__percent">-20%</div>
											<ul class="product__item__pic__hover">
												<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
											</ul>
										</div>
										<div class="product__discount__item__text">
											<h5>
												<a href="#">Một ngày bằng 48 Giờ</a>
											</h5>
											<div class="product__item__price">
												100.000 <span>120.000</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="product__item"
							th:each="prodInfo : ${paginationProducts.list}">
							<div class="product__item__pic">
								<img alt="" th:src="@{|/productImage?code=${prodInfo.code}|}">
								<ul class="product__item__pic__hover">
									<li><a th:href="@{|/buyProduct?code=${prodInfo.code}|}"><i
											class="fa fa-shopping-cart"></i></a></li>
									<th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
										<li><a
											th:href="@{|/admin/product?code=${prodInfo.code}|}"><i
												class="fa fa-retweet"></i></a></li>

									</th:block>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>
									<span th:utext="${prodInfo.name}"></span>
								</h6>
								<h5>
									<span
										th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
								</h5>
							</div>
						</div>
					</div>
					<div class="product__pagination"
						th:if="${paginationProducts.totalPages > 1}">
						<th:block th:each="page : ${paginationProducts.navigationPages}">
							<a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
								class="nav-item" th:utext="${page}"></a>
							<span class="nav-item" th:if="${page == -1}"> ... </span>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Js Plugins -->
	<script src="HomePage/js/jquery-3.3.1.min.js"></script>
	<script src="HomePage/js/bootstrap.min.js"></script>
	<script src="HomePage/js/jquery.nice-select.min.js"></script>
	<script src="HomePage/js/jquery-ui.min.js"></script>
	<script src="HomePage/js/jquery.slicknav.js"></script>
	<script src="HomePage/js/mixitup.min.js"></script>
	<script src="HomePage/js/owl.carousel.min.js"></script>
	<script src="HomePage/js/main.js"></script>
	<script type="text/javascript" src="HomePage/js/modal-account.js"></script>

	<script>

		let __baseUrl = 'https://livechat.fpt.ai/v35/src';

		let prefixNameLiveChat = 'KiD Book';
		let objPreDefineLiveChat = {
					appCode: 'd0acfdeb9b1b229b5109dac9dd185381',
					themes: '',
					appName: prefixNameLiveChat ? prefixNameLiveChat : 'Live support',
					thumb: '',
					icon_bot: ''
				},
				appCodeHash = window.location.hash.substr(1);
		if (appCodeHash.length == 32) {
			objPreDefineLiveChat.appCode = appCodeHash;
		}

		let fpt_ai_livechat_script = document.createElement('script');
		fpt_ai_livechat_script.id = 'fpt_ai_livechat_script';
		fpt_ai_livechat_script.src = __baseUrl + '/static/fptai-livechat.js';
		document.body.appendChild(fpt_ai_livechat_script);

		let fpt_ai_livechat_stylesheet = document.createElement('link');
		fpt_ai_livechat_stylesheet.id = 'fpt_ai_livechat_script';
		fpt_ai_livechat_stylesheet.rel = 'stylesheet';
		fpt_ai_livechat_stylesheet.href = __baseUrl + '/static/fptai-livechat.css';
		document.body.appendChild(fpt_ai_livechat_stylesheet);

		fpt_ai_livechat_script.onload = function () {
			fpt_ai_render_chatbox(objPreDefineLiveChat, __baseUrl, 'livechat.fpt.ai:443');
		}
	</script>
</body>
<!-- Footer Section Begin -->
<footer class="footer spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="footer__about">
					<div class="footer__about__logo">
						<a th:href="@{/}"><img src="HomePage/img/logo.png" alt=""></a>
					</div>
					<ul>
						<li>Address: Ngo Quyen Street</li>
						<li>Phone: +84 965.920.507</li>
						<li>Email: hieunv2111@gmail.com</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
				<div class="footer__widget">
					<h6>Useful Links</h6>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">About Our Shop</a></li>
						<li><a href="#">Secure Shopping</a></li>
						<li><a href="#">Delivery infomation</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Our Sitemap</a></li>
					</ul>
					<ul>
						<li><a href="#">Who We Are</a></li>
						<li><a href="#">Our Services</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Innovation</a></li>
						<li><a href="#">Testimonials</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="footer__widget">
					<h6>Join Our Newsletter Now</h6>
					<p>Get E-mail updates about our latest shop and special offers.</p>
					<form action="#">
						<input type="text" placeholder="Enter your mail">
						<button type="submit" class="site-btn">Subscribe</button>
					</form>
					<div class="footer__widget__social">
						<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-instagram"></i></a> <a href="#"><i
							class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer Section End -->
</html>